{% extends 'base.html.twig' %}

{% block main %}
     {% set compteur=0 %}
    {% for stat in Statistiques %}
        {% if stat.date|date('d-m-Y')==today|date('d-m-Y') %}
            {% set compteur=compteur+stat.montant %}
        {% endif %}
    {% endfor %}

    {% set compteur3=0 %}
    {% for stat in Statistiques2 %}
        {% if stat.date|date('d-m-Y')==today|date('d-m-Y') %}
            {% set compteur3=compteur3+stat.montant %}
        {% endif %}
    {% endfor %}


    {% set compteur4=0 %}
    {% for stat in Statistiques3 %}
        {% if stat.date|date('d-m-Y')==today|date('d-m-Y') %}
            {% set compteur4=compteur4+stat.montant %}
        {% endif %}
    {% endfor %}

    {% set compteur5=0 %}
    {% for stat in Statistiques4 %}
        {% if stat.date|date('d-m-Y')==today|date('d-m-Y') %}
            {% set compteur5=compteur5+stat.montant %}
        {% endif %}
    {% endfor %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                            <div class="panel-heading">
                                        <h3 class="box-title">Informations</h3>
                                        <div class=" pull-right" style="margin-top: -30px;">
                                            <div class="label bg-aqua">Statiques du Jour</div>
                                        </div>
                                    </div>
                    <center>
                    <div style="margin: 10px">
                       <h4>Recherche par date</h4>
                        {% set debut=0 %}
                        {% set fin=0 %}
                        <label>Date de debut:</label><input type="date" class="datepicker" id="start"  style="margin-right: 50px" >
                        <label>Date de fin:</label><input type="date" class="datepicker" id="end">
                        <script type="text/javascript">
                            function st()
                            {
                                var d =document.getElementById('start').value;
                                var f =document.getElementById('end').value;

                                return 'Stat/'+d+'/'+f;
                            }

                            function deb()
                            {
                                var d =document.getElementById('start').value;
                                return d;
                            }

                            function fi()
                            {
                                var f =document.getElementById('end').value;
                                return f;

                            }
                        </script>
                        <a onclick="
                        if (st()=='Stat//')
                        {

                        }else if(deb()=='')
                        {

                        }else if(fi()=='')
                        {

                        }
                        else
                        {
                        this.href=st()
                        }
                        ">
                        <button class="btn btn-primary" type="submit" >Afficher</button></a>

                    </div>

                </center>

                    <center>
                        <h1>Statistiques Pressing</h1>
                        <h2>  <p> Le Chiffre d'affaire du pressing aujourd'hui est de <b> {{ compteur }} </b> Francs </p> </h2>  </center>
                    <br><br>

                    <div class="box-body">
                    <table id="example" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Chiffre d'affaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stat in Statistiques %}
                            <tr>
                                <td>{{stat.date|date('d-m-Y')}}</td>
                                <td>{{stat.Montant }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        </div>




                <div class="panel-body">
                    <div id="bar-chart"></div>
                </div>



                    <center>
                        <h1>Statistiques Lavage Par Kilo</h1>
                        <h2>  <p> Le Chiffre d'affaire du Lavage par Kilo aujourd'hui est de <b> {{ compteur3 }} </b> Francs </p> </h2>  </center>
                    <br><br>

                    <div class="box-body">
                        <table id="example3" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Chiffre d'affaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stat in Statistiques2 %}
                                <tr>
                                    <td>{{stat.date|date('d-m-Y')}}</td>
                                    <td>{{stat.Montant }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <div class="panel-body">
                        <div id="bar-chart2"></div>
                    </div>

                    <center>
                        <h1>Statistiques Shopping</h1>
                        <h2>  <p> Le Chiffre d'affaire du shopping aujourd'hui est de <b> {{ compteur4 }} </b> Francs </p> </h2>  </center>
                    <br><br>

                    <div class="box-body">
                        <table id="example4" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Chiffre d'affaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in Statistiques3 %}
                                <tr>
                                    <td>{{s.date|date('d-m-Y')}}</td>
                                    <td>{{s.Montant }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>




                    <div class="panel-body">
                        <div id="bar-chart3"></div>
                    </div>



                    <center>
                        <h1>Statistiques Salon</h1>
                        <h2>  <p> Le Chiffre d'affaire du salon aujourd'hui est de <b> {{ compteur5 }} </b> Francs </p> </h2>  </center>
                    <br><br>

                    <div class="box-body">
                        <table id="example5" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Chiffre d'affaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in Statistiques4 %}
                                <tr>
                                    <td>{{s.date|date('d-m-Y')}}</td>
                                    <td>{{s.Montant }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>




                    <div class="panel-body">
                        <div id="bar-chart4"></div>
                    </div>

                </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->

    </section><!-- /.content -->


{% endblock %}

{% block script %}

    <script type="text/javascript">
        $(function () {
            "use strict";
            //BAR CHART
            var bar = new Morris.Bar({
                element: 'bar-chart',
                resize: true,
                data: [
                    {% for stat in Statistiques  %}

                    {% if ( prec )  <=  ( stat.date) %}
                    {y: ' {{ stat.date|date('d-m-Y') }}', a: {{ stat.Montant }} },

                    {% endif %}  {% endfor %}],
                barColors: ['#d9edf6'],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Vente'],
                hideHover: 'auto'
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            "use strict";
            //BAR CHART
            var bar2 = new Morris.Bar({
                element: 'bar-chart2',
                resize: true,
                data: [
                    {% for stat in Statistiques2  %}

                    {% if ( prec )  <=  ( stat.date) %}
                    {y: ' {{ stat.date|date('d-m-Y') }}', a: {{ stat.Montant }} },

                    {% endif %}  {% endfor %}],
                barColors: ['#d9edc6'],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Vente'],
                hideHover: 'auto'
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            "use strict";
            //BAR CHART
            var bar3 = new Morris.Bar({
                element: 'bar-chart3',
                resize: true,
                data: [
                    {% for stat in Statistiques3  %}

                    {% if ( prec )  <=  ( stat.date) %}
                    {y: ' {{ stat.date|date('d-m-Y') }}', a: {{ stat.Montant }} },

                    {% endif %}  {% endfor %}],
                barColors: ['#d9ddd2'],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Vente'],
                hideHover: 'auto'
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            "use strict";
            //BAR CHART
            var bar4 = new Morris.Bar({
                element: 'bar-chart4',
                resize: true,
                data: [
                    {% for stat in Statistiques4  %}

                    {% if ( prec )  <=  ( stat.date) %}
                    {y: ' {{ stat.date|date('d-m-Y') }}', a: {{ stat.Montant }} },

                    {% endif %}  {% endfor %}],
                barColors: ['#d9aaa2'],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Vente'],
                hideHover: 'auto'
            });
        });
    </script>


{% endblock %}